
    #cuerpo1{
        background-color: aqua;
    }
    #cabecera{
        position: relative; top:80px; 
        width: 550px;
        height:250px;
    }
    #logo{
        position: relative; top:70px; 
        width: 450px;
        height:150px;
    }

    .titulo{

        color:#7F0000;
        line-height: 1.2;
    }
    #titulo
    {
         color:#7F0000;

    }
    .p{
        color:#7F0000;
    }

    html, body, #map_canvas {                
  height: 100%;
}
